
[mysqld]
binlog_format=ROW
default-storage-engine=innodb
innodb_autoinc_lock_mode=2
bind-address={{ mariadb_bind_address }}

# Galera Provider Configuration
wsrep_on=ON
wsrep_provider=/usr/lib/galera/libgalera_smm.so

# Galera Cluster Configuration
wsrep_cluster_name="{{ mariadb_cluster_name }}"
{% if mariadb_cluster_addresses is defined %}
wsrep_cluster_address="gcomm://{{ mariadb_cluster_addresses }}"
{% else %}
wsrep_cluster_address="gcomm://{% for server in play_hosts %}{{ hostvars[server].ansible_facts.default_ipv4.address }}{{ "," if not loop.last else "" }}{% endfor %}"
{% endif %}

# Galera Synchronization Configuration
wsrep_sst_method=rsync

# Galera Node Configuration
wsrep_node_address="{{ mariadb_node_address }}"
wsrep_node_name="{{ mariadb_node_name }}"

# Online Schema Upgrade method
wsrep_OSU_method={{ mariadb_wsrep_osu_method }}
